/* NavBar.css */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ecommerce-title {
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cart-widget-img {
  width: 20px;
  height: 20px;
}
