/* NavBar.css */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ecommerce-title {
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cart-widget-img {
  width: 20px;
  height: 20px;
}


.logo-image {
  width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}